<%= button_to "Login" %>


<h1>Here are all the jobs from all the companies </h1>

<%= form_tag(hirings_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Jobs" %>
  <%= submit_tag "Search" %>
<% end %>

<ol>
  <%# <% byebug %>
  <% @search.each do |search| %>
  <li>
    <%= link_to search.job_title , hiring_path(search) %>
  </li>

  <% end %>
</ol>
