<h1>Job Description</h1>
Company: <%= @hiring.company.name %></br>
Job Title: <%= @hiring.job_title %></br>
Seniority: <%= @hiring.seniority %></br>
Job Postion: <%= @hiring.job_position %></br>
Job Key Skill: <%= @hiring.job_key_skill %></br>
Job Employment Type: <%= @hiring.job_employment_type %></br>
Job Education Level: <%= @hiring.job_education_level %>


<%# <%= button_to "Save", meathod="post", redirect_to search_path %> %>
